@model FarmManager.Models.Death

@{
    ViewBag.Title = "CowDeath";
}

<h2 class="hTop">Record death for cow, Tag Number:<span class="spanTag"> @ViewData["TagNo"] </span></h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <div id="formMyStyle">
    <fieldset>
       <!-- <div class="editor-label">
         @*   @Html.LabelFor(model => model.TagNo) *@
        </div> -->
        <div class="editor-field">
            @Html.HiddenFor(model => model.TagNo, new { id = "txtPlace", Value= @ViewData["TagNo"]  })
            @Html.ValidationMessageFor(model => model.TagNo)
        </div>

        <div class="editor-label">
            Date of Death
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.DOD, new { @class ="form-control" })
            @Html.ValidationMessageFor(model => model.DOD)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cause)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Cause", (IEnumerable<SelectListItem>)ViewData["DeathCauses"], new { @class ="form-control" })
            @Html.ValidationMessageFor(model => model.Cause)

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Notes)
        </div>
        <div class="editor-field">
            @Html.TextArea("Notes", new { rows = 4, columns = 5, @class ="form-control" })
            @Html.ValidationMessageFor(model => model.Notes)
        </div>
        <br />
        <p>
            <input type="submit" value="Create" class="btn btn-info"/>
            @Html.ActionLink("Cancel","Index","Cows",null, new { @class="btn btn-default"})

        </p>
    </fieldset>
        </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
