@model FarmManager.Models.Death

@{
    ViewBag.Title = "CowDeath";
}

<link href="~/Content/datepicker.css" rel="stylesheet" />

<h2 class="hTop">Record death for cow, Tag Number:<span class="spanTag"> @ViewData["TagNo"] </span></h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <div id="formMyStyle">
    <fieldset>
       <!-- <div class="editor-label">
         @*   @Html.LabelFor(model => model.TagNo) *@
        </div> -->
        <div class="editor-field">
            @Html.HiddenFor(model => model.TagNo, new { id = "txtPlace", Value= @ViewData["TagNo"]  })
            @Html.ValidationMessageFor(model => model.TagNo)
        </div>

        <div class="editor-label">
            <label>Date of Death</label>
        </div>
        <div class="editor-field">
        <input name="DOD" class="datepicker form-control" id="DOD" size="16" type="text" value="Please select">
            @Html.ValidationMessageFor(model => model.DOD)
        </div>
         <div id="selectDateWarning" class="alert alert-danger collapse">Please select the cows date of death</div>
        <div id="greaterDateWarning" class="alert alert-danger collapse">The cows date of death must cannot be after todays date</div>

        <div class="editor-label">
           <label>Cause of Death</label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("Cause", (IEnumerable<SelectListItem>)ViewData["DeathCauses"], new { @class ="form-control" })
            @Html.ValidationMessageFor(model => model.Cause)

        </div>
        <div id="selectCauseWarning" class="alert alert-danger collapse">Please select cause of death</div>


        <div class="editor-label">
            <label>Notes</label>
        </div>
        <div class="editor-field">
            @Html.TextArea("Notes", new { rows = 4, columns = 5, @class ="form-control" })
            @Html.ValidationMessageFor(model => model.Notes)
        </div>
        <br />
        <p>
            <input type="submit" value="Create" class="btn btn-info"/>
            @Html.ActionLink("Cancel","Index","Cows",null, new { @class="btn btn-default"})

        </p>
    </fieldset>
        </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")
    @Scripts.Render("~/Scripts/Mine/CowDeath.js")

}
