@model  FarmManager.ViewModels.CowDetailVM

@{
    ViewBag.Title = "Details";
}



<h2 class="hTop">Cow <span class="tagHighLight">@Html.DisplayFor(model => model.TagNo)</span></h2>

@if(Model.OwnershipStatus == 1)
{
    @Html.ActionLink("New Artificial Insemination", "Create", new { controller = "AI",  id = Model.TagNo }, new { @class = "btn btn-primary" }) <span>  </span>
    @Html.ActionLink("Sell Animal", "Sale", new { id = Model.TagNo }, new { @class = "btn btn-primary" }) <span> </span>
    @Html.ActionLink("Record Death", "CowDeath", new { id = Model.TagNo }, new { @class = "btn btn-primary" })<span></span>
    if(Model.BornOnFarm == false)
    { @Html.ActionLink("Edit Details", "Edit", new { id = Model.TagNo }, new { @class = "btn btn-primary" })
}

    if(Model.BornOnFarm == true)
    { @Html.ActionLink("Edit Details", "EditBirth", new { id = Model.TagNo }, new { @class = "btn btn-primary" })
}
}

<div id="statusWarn" class="alert alert-warning collapse">@Html.HiddenFor(model => model.OwnershipStatus) @Html.HiddenFor(model => model.TagNo)<p class="inline" id="statusMessage"> </p> <a id="statusLink" href="#" >hu</a></div>

<div id="withDrawWarn" class="alert alert-warning collapse"> 
    <p>The animal is currently in withdrawl from the following treatments:</p>
    <p id="withDrawPara">@foreach (var item in Model.WithDrawalList)
        {
            @Html.ActionLink(item.Text, "Details", new { controller = "Treatment",  id = item.Value }, new { @class="listItems"})<br />
        }</p>
    </div>

<div id="cowDetails">
    <div class="detailsBanner">
        <h3 class="detailsHead">Details</h3>
    </div>

    <div class="detailsBottom">
        @if (Model.BornOnFarm == true)
        {
            <div class="inlineData">
            <div class="display-label">
                <label>Origin of Cow</label>
            </div>
            
            <div class="display-field">
               <a id="bornLink" href="#" >Born on Farm</a>
            </div>
            </div>
            
            <div class="inlineData">
            <div class="display-label">
                <label>Born on</label>
            </div>
            
            <div class="display-field">
                <p>@Html.DisplayFor(model => model.DOB)</p>
            </div>
            </div>
            
            <div class="inlineData">
            <div class="display-label">
                <label>Sex</label>
            </div>
            
            <div class="display-field">
                @if (Model.Sex == true)
                {
                    <p>Male</p>
                }
                else
                {
                    <p>Female</p>
                }

            </div>
            </div>
            
            <div class="inlineData">
            <div class="display-label">
                <label>Breed</label>
            </div>
            
            <div class="display-field">
                <p>@Html.DisplayFor(model => model.AnimalBreed)</p>
            </div>
            </div>
            
            
            <div class="inlineData">
            <div class="display-label">
                <label>Mother</label>
            </div>
            
            <div class="display-field">
                @Html.ActionLink(Model.MotherTagNo, "Details", new { id = Model.MotherTagNo }, new { @class = "listItems" })<br />
            </div>
            </div>
            
            
            if (Model.SireTagNo != "")
            { <div class="inlineData">
            <div class="display-label">
                <label>Sire</label>
            </div>
            
            <div class="display-field">
                @Html.ActionLink(Model.SireTagNo, "Details", new { id = Model.SireTagNo }, new { @class = "listItems" })<br />

            </div>
            </div>
            }
            else
            {
              <div class="inlineData">
            <div class="display-label">
                <label>AI ID</label>
            </div>
            
            <div class="display-field">
                <p>@Html.DisplayFor(model => model.AIID)</p>

            </div>
            </div>  
            }
        }
        else
        {
            <div class="inlineData">
            <div class="display-label">
                <label>Origin of Cow</label>
            </div>
            
            <div class="display-field">
               <a id="purchLink" href="#" >Purchased</a>
            </div>
            </div>
            
            <div class="inlineData">
            <div class="display-label">
                <label>Owned Since</label>
            </div>
            
            <div class="display-field">
                <p>@Html.DisplayFor(model => model.DateBought)</p>
            </div>
            </div>
            
            <div class="inlineData">
            <div class="display-label">
                <label>Sex</label>
            </div>
            
            <div class="display-field">
                @if (Model.Sex == true)
                {
                    <p>Male</p>
                }
                else
                {
                    <p>Female</p>
                }

            </div>
            </div>
            
            <div class="inlineData">
            <div class="display-label">
                <label>Breed</label>
            </div>
            
            <div class="display-field">
                <p>@Html.DisplayFor(model => model.AnimalBreed)</p>
            </div>
            </div>

        }
        <br style="clear: both;" />

    </div>



</div>



<div id="childDetails">
    <div class="detailsBanner">
        <h3 class="detailsHead">Offspring</h3>
    </div>
    <div class="detailsBottom">
        @if (@Model.Sex == false)
        {
            if (@Model.calvesList.Count() == 1)
            {
            <label>1 Calf</label>
            }
            else if (@Model.calvesList.Count() > 1)
            {
            <label>@Model.calvesList.Count() Calves</label>
            }
            else
            {
             <label>No Calves</label>         
                                             
            }
            
            
            <br />

            foreach (var item in Model.calvesList)
            {
              @Html.ActionLink(item.Text, "Details", new { id = item.Text }, new { @class = "listItems" })<br />

            }
        }
        else
        {
            if (@Model.bullCalveList.Count() == 1)
            {
                <label>1 Calf</label>
            }
            else if (@Model.bullCalveList.Count() > 1)
            {
                <label>@Model.bullCalveList.Count() Calves</label>
            }
            else
            {
                <label>No Calves</label>         
                                             
            }
            
            <br />

            foreach (var item in Model.bullCalveList)
            {
              @Html.ActionLink(item.Text, "Details", new { id = item.Text }, new { @class = "listItems" })<br />

            }   
        }


        
    </div>
</div>

<div id="notesContainer">
    <div class="detailsBanner">
        <h3 class="detailsHead">Notes</h3>
    </div>
    <div class="detailsBottom">


        @if (@Model.notesList.Count() == 1)
        {
            <label>1 Note</label>
        }
        else if (@Model.notesList.Count() > 1)
        {
            <label>@Model.notesList.Count() Notes</label>
        }
        else
        {
            <label>No Notes</label>            
        }

        | @Html.ActionLink("New Note", "AddCowNote", new { id = Model.TagNo })<br />



        @foreach (var item in Model.notesList)
        {
            <a  id="@item.Value" class="noteLinks listItems" href="#">@item.Text</a><br />
        }
    </div>
</div>

<div id="treatmentDetails">
    <div class="detailsBanner">
        <h3 class="detailsHead">Treatments</h3>
      </div>
    <div class="detailsBottom">
         @if (@Model.treatmentList.Count() == 1)
        {
            <label>1 Treatment</label>
        }
        else if (@Model.treatmentList.Count() > 1)
        {
            <label>@Model.treatmentList.Count() Treatments</label>
        }
        else
        {
            <label>No Treatments</label>            
        }

        | @Html.ActionLink("New Treatment", "NewTreatment", new { controller = "Treatment",  id = Model.TagNo })<br />

        @foreach (var item in Model.treatmentList)
        {
            @Html.ActionLink(item.Text, "Details", new { controller = "Treatment",  id = item.Value }, new { @class="listItems"})<br />
        }
    </div>
</div>





<br style="clear: both;" />

<br />

<form id="overlay_form" class="overlay_form" style="display: none">
    <h3 id="modalHead"></h3>
    <label id="noteDate">1 Note</label>
    <p id="noteBody"></p>

    <a href="#" id="close" class="btn btn-default">Close</a>
    <a href="#" class="btn btn-primary" id="btnEditNote">Edit</a>
    <a href="#" class="btn btn-danger" id="btnDeleteNote">Delete</a>

</form>


<form id="overlay_form_Sale" class="overlay_form" style="display: none">
    <h3 id="modalHeadSale"></h3>
     <h3 id="modalHead"></h3>

    

        <div class="inlineData">

                <div class="display-label">
                <label>Tag No</label>
            </div>
            
            <div class="display-field">
                <p id="modalTagNo"></p>
            </div>
            </div>

        <div class="inlineData">

             <div class="display-label">
                <label>Location Sold</label>
            </div>
            
            <div class="display-field">
                <p id="modalLocationSold"></p>
            </div>
            </div>

    <div class="inlineData">

             <div class="display-label">
                <label>Date Sold</label>
            </div>
            
            <div class="display-field">
                <p id="dateSold"></p>
            </div>
            </div>

    <div class="inlineData">

             <div class="display-label">
                <label>Sold To</label>
            </div>
            
            <div class="display-field">
                <p id="soldTo"></p>
            </div>
            </div>

    <div class="inlineData">

             <div class="display-label">
                <label>Notes</label>
            </div>
            
            <div class="display-field">
                <p id="saleNotes"></p>
            </div>
            </div>

<br style="clear: both;" />

    <a href="#" id="closeSale" class="btn btn-default">Close</a>
</form>


<form id="overlay_form_Death" class="overlay_form" style="display: none">
    <h3 id="modalHeadDeath"></h3>
    
        <div class="inlineData">

                <div class="display-label">
                <label>Tag No</label>
            </div>
            
            <div class="display-field">
                <p id="modalTagNoDeath"></p>
            </div>
            </div>

        <div class="inlineData">

             <div class="display-label">
                <label>Date of Death</label>
            </div>
            
            <div class="display-field">
                <p id="modalDOD"></p>
            </div>
            </div>

    <div class="inlineData">

             <div class="display-label">
                <label>Cause</label>
            </div>
            
            <div class="display-field">
                <p id="deathCause"></p>
            </div>
            </div>

    <div class="inlineData">

             <div class="display-label">
                <label>Notes</label>
            </div>
            
            <div class="display-field">
                <p id="deathNotes"></p>
            </div>
            </div>

    

<br style="clear: both;" />

    <a href="#" id="closeDeath" class="btn btn-default">Close</a>
</form>


<form id="overlay_form_Purchase" class="overlay_form" style="display: none">
    <h3 id="modalHeadPurchase"></h3>
    
        <div class="inlineData">

                <div class="display-label">
                <label>Tag No</label>
            </div>
            
            <div class="display-field">
                <p id="modalTagNoPurchase"></p>
            </div>
            </div>

        <div class="inlineData">

             <div class="display-label">
                <label>Date of Purchase</label>
            </div>
            
            <div class="display-field">
                <p id="modalDOP"></p>
            </div>
            </div>

    <div class="inlineData">

             <div class="display-label">
                <label>Purchased From</label>
            </div>
            
            <div class="display-field">
                <p id="purchasedFrom"></p>
            </div>
            </div>

        <div class="inlineData">

             <div class="display-label">
                <label>Location</label>
            </div>
            
            <div class="display-field">
                <p id="purchasedLocation"></p>
            </div>
            </div>

    <div class="inlineData">

             <div class="display-label">
                <label>Price Paid</label>
            </div>
            
            <div class="display-field">
                <p id="pricePaid"></p>
            </div>
            </div>


     <div class="inlineData">

             <div class="display-label">
                <label>Notes</label>
            </div>
            
            <div class="display-field">
                <p id="purchNotes"></p>
            </div>
            </div>

    

<br style="clear: both;" />

    <a href="#" id="closePurchase" class="btn btn-default">Close</a>
</form>






<p>
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Record Death", "CowDeath", new { id = Model.TagNo })

</p>

@section Scripts {
    @Scripts.Render("~/Scripts/Mine/CowDetails.js")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
}
