@model FarmManager.Models.AnimalNote

@{
    ViewBag.Title = "EditNote";
}

<h2 class="hTop">New Note for <span class="tagHighLight">@Html.DisplayFor(model => model.TagNo)</span></h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)


        <div id="formMyStyle">

        
            @Html.TextBoxFor(model => model.NoteId, new { @class = "hidden" })
            @Html.TextBoxFor(model => model.TagNo, new { @class = "hidden" })
            @Html.TextBoxFor(model => model.UserID, new { @class = "hidden" })
            @Html.TextBoxFor(model => model.Date, new { @class = "hidden" })



        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div id="RequiredWarning" class="alert alert-danger collapse">Please enter note Description</div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Note)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Note, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Note)
        </div>
        <div id="RequiredWarningNote" class="alert alert-danger collapse">Please enter note</div>



            <br />
        <p>
            <input class="btn btn-success" type="submit" value="Save" />
            @Html.ActionLink("Cancel", "Details", new { id = Model.TagNo }, new { @class = "btn btn-default" })
        </p>
            </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
    @Scripts.Render("~/Scripts/Mine/AddNote.js")

}
