@model FarmManager.ViewModels.CowBirthVM

@{
    ViewBag.Title = "Edit Cow";
}
<link href="~/Content/datepicker.css" rel="stylesheet" />

<h2>Edit Details for <span class="tagHighLight">@Html.DisplayFor(model => model.TagNo)</span></h2>
    <div class="detailsBanner">
        <h3 class="detailsHead">Calf Details</h3>
    </div>

    <div class="detailsBottom">
@using (Html.BeginForm(new { id = "FormID" }))
{
    @Html.ValidationSummary(true)
    <div id="formMyStyle">
    

        <div class="editor-label">
            <label>Insemination Type</label>        
        </div>
        <div class="editor-field" >
        <input type="radio" name="InseminationType" value="0">Natural Insemination<br />
        <input type="radio" name="InseminationType" value="1">Artificial Insemination
        </div>
        <br />

        <div class="expandingForm collapse">



        <div class="editor-label">
            @Html.LabelFor(model => model.Breed)
        </div>
        <div class="editor-field">
           @Html.DropDownListFor(model => model.Breed, Model.BreedList,  new { @class = "form-control" } )
           @Html.ValidationMessageFor(model => model.Breed)
        </div>
        <div id="selectBreedWarning" class="alert alert-danger collapse">You must select an animal breed</div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BirthDate)
        </div>
        <div class="editor-field">
        <input name="BirthDate" class="datepicker form-control" id="BirthDate" size="16" type="text" value="Please select">
        @Html.ValidationMessageFor(model => model.BirthDate)
        </div>
        <div id="selectDateWarning" class="alert alert-danger collapse">Please select the calf's birth date</div>
        <div id="greaterDateWarning" class="alert alert-danger collapse">The birth date cannot be after todays date</div>
        <div id="selectDOBWarning" class="alert alert-danger collapse">You must select the animal D.O.B</div>

        <div class="editor-label collapse Natural">
            @Html.LabelFor(model => model.MotherTagNo)
        </div>
        <div class="editor-field collapse Natural">
           @Html.DropDownListFor(model => model.MotherTagNo, Model.MotherTagList,  new { @class = "form-control" } )
            @Html.ValidationMessageFor(model => model.MotherTagNo)        
                    <div id="selectMotherTagBWarning" class="alert alert-danger collapse">The Cow tag number must be selected</div>

        </div>


        <div class="editor-label collapse Natural">
            @Html.LabelFor(model => model.SireTagNo)
        </div>
        <div class="editor-field collapse Natural">
            @*@Html.DropDownList("SireTagNo", (IEnumerable<SelectListItem>)ViewData["bullTags"],  new {  @class = "form-control" })*@
           @Html.DropDownListFor(model => model.SireTagNo, Model.SireTagList,  new { @class = "form-control" } )
            @Html.ValidationMessageFor(model => model.SireTagNo) 
          <div id="selectSireTagWarning" class="alert alert-danger collapse">Bull Tag number must be selected</div>
        </div>

        <div class="editor-label collapse AI">
            <label>Artificially Inseminated Cow</label>
        </div>
        <div class="editor-field collapse AI">
            @*@Html.DropDownList("SireTagNo", (IEnumerable<SelectListItem>)ViewData["bullTags"],  new {  @class = "form-control" })*@
           @Html.DropDownListFor(model => model.AICow, Model.AIList,  new { @class = "form-control" } )
            @Html.ValidationMessageFor(model => model.AIList) 
         <div id="selectAIWarning" class="alert alert-danger collapse">Please Cow select Tag number</div>
        </div>
        
    
        <div class="editor-label">
            @Html.LabelFor(model => model.Sex)
        </div>
        <div class="editor-field">
            <select name="Sex" class="form-control" id="Sex">
                <option value="-Please Select-" selected>Please select</option>
                <option value="1">Male</option>
                <option value="0">Female</option>
            </select>
            @Html.ValidationMessageFor(model => model.Sex) 
        </div>
        <div id="selectSexWarning" class="alert alert-danger collapse">Please select calf sex</div>

        <div class="editor-label">
            <label>Was the Birth Difficult?</label>
        </div>
        <div class="editor-field">
            <select name="Difficult" class="form-control" id="Difficult">
                <option value="Please Select" selected>Please select</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            @Html.ValidationMessageFor(model => model.Difficult) 
        </div>
        <div id="selectDifficultyWarning" class="alert alert-danger collapse">Please calving difficulty</div>



        <div class="editor-label">
            @Html.LabelFor(model => model.Notes)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Notes, new { @class ="form-control" })
            @Html.ValidationMessageFor(model => model.Notes)         
        </div>
        <br />
        <p>
            <input type="submit" class="btn btn-success" value="Create" />
            @Html.ActionLink("Cancel","Index","Cows",null, new { @class="btn btn-default"})
        </p>
            </div>

    </div>
    
}
        </div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>




<script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Mine/EditBirth.js")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")
}
  
    
</script>
