
@model IEnumerable<FarmManager.ViewModels.CowIndexVM>

@ViewBag.MyList

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/tabStyles.css" rel="stylesheet" />



<h2 class="hTop">Cows</h2>

<p>
    @Html.ActionLink("Create Purchase", "CreatePurchase",null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Create Birth", "CreateCowBirth",null, new { @class = "btn btn-primary" })
</p>





<br style="clear: both;" />
    

    <div class="detailsBanner">
        <h3 id="cowStatusHead" class="detailsHead">Owned</h3>
    </div>

    <div class="detailsBottom">
<div id="tabs">
   <ul>
     <li><a class="tabLinks" href="#tab-1">Owned</a></li>
     <li><a class="tabLinks" href="#tab-2">Sold</a></li>
     <li><a class="tabLinks" href="#tab-3">Deceased</a></li>
     <li><a class="tabLinks" href="#tab-4">Purchased</a></li>
     <li><a class="tabLinks" href="#tab-5">Born on Farm</a></li>
   </ul>
   <div id="tab-1">
           <table class="table table-striped">
    <tr>
        <th>
            <label>Tag Number</label>
        </th>
        <th>
            <label>Breed</label>
        </th>
        <th>
            <label>Treatment Status</label>
        </th>
    </tr>

@foreach (var item in Model)
{
    if(item.OwnershipStatus == 1)
    {
    <tr>
        <td>
            @Html.ActionLink(item.TagNo, "Details", new { id=item.TagNo })        
        </td>

        <td>
            @item.AnimalBreed
        </td>
        <th>
            @foreach(var withItem in ViewBag.WithList)
            {
                if(withItem.Text == item.TagNo)
                {
               <a class="treatLink" data-tag="@withItem.Value" href="#"><img class="iconMargin" src="~/Images/SiteImages/treated2.png" width="20px" height="20px"/></a>
                }
            }        </th>
  

    </tr>
    }
}

</table>

   </div>
   <div id="tab-2">
     <table class="table table-striped">
    <tr>
        <th>
            <label>Tag Number</label>
        </th>
        <th>
            <label>Breed</label>
        </th>
        <th>
            <label>Date Sold</label>
        </th>
        <!--<th></th>-->
    </tr>

@foreach (var item in Model)
{
    if(item.OwnershipStatus == 2)
    {
    <tr>
        <td>
            @Html.ActionLink(item.TagNo, "Details", new { id=item.TagNo })        
        </td>

        <td>
            @item.AnimalBreed
        </td>
        <td>
            @item.DateSold
        </td>
        <!--<td>
           @* @Html.ActionLink("Edit", "Edit", new { id=item.AnimalId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AnimalId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AnimalId }) |
            @Html.ActionLink("Record Death", "CowDeath", new { id=item.TagNo }) *@
        </td>-->
    </tr>
    }
}

</table>
   </div>
   <div id="tab-3">
     <table class="table table-striped">
    <tr>
        <th>
            <label>Tag Number</label>
        </th>
        <th>
            <label>Breed</label>
        </th>
        <th>
            <label>Date of Death</label>
        </th>
        <!--<th></th>-->
    </tr>

@foreach (var item in Model)
{
    if(item.OwnershipStatus == 3)
    {
    <tr>
        <td>
            @Html.ActionLink(item.TagNo, "Details", new { id=item.TagNo })        
        </td>

        <td>
            @item.AnimalBreed
        </td>
        <td>
            @item.DOD
        </td>
        <!--<td>
           @* @Html.ActionLink("Edit", "Edit", new { id=item.AnimalId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AnimalId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AnimalId }) |
            @Html.ActionLink("Record Death", "CowDeath", new { id=item.TagNo }) *@
        </td>-->
    </tr>
    }
}

</table>
   </div>
   <div id="tab-4">
               <table class="table table-striped">
    <tr>
        <th>
            <label>Tag Number</label>
        </th>
        <th>
            <label>Breed</label>
        </th>
                <th>
            <label>Date of Purchase</label>
        </th>
        <!--<th></th>-->
    </tr>

@foreach (var item in Model)
{
    if(item.BornOnFarm == false)
    {
    <tr>
        <td>
            @Html.ActionLink(item.TagNo, "Details", new { id=item.TagNo })        
        </td>

        <td>
            @item.AnimalBreed
        </td>
                <td>
            @item.DateBought

        </td>
    </tr>
    }
}

</table>
   </div>



    <div id="tab-5">
               <table class="table table-striped">
    <tr>
        <th>
            <label>Tag Number</label>
        </th>
        <th>
            <label>Breed</label>
        </th>
                <th>
            <label>Birth Date</label>
        </th>
        <!--<th></th>-->
    </tr>

@foreach (var item in Model)
{
    if(item.BornOnFarm == true)
    {
    <tr>
        <td>
            @Html.ActionLink(item.TagNo, "Details", new { id=item.TagNo })        
        </td>

        <td>
            @item.AnimalBreed
        </td>
        <td>
            @item.DOB
        </td>
    </tr>
    }
}

</table>
   </div>
 </div>
        </div>


<form id="overlay_form" class="overlay_form" style="display: none">
    <h3 id="modalHead"></h3>

    <div class="inlineData">
    <label>Medicine Batch No</label>
    <p id="batch"></p>
        </div>

    <div class="inlineData">
    <label>Dosage Amount(ml)</label>
    <p id="dosage"></p>
        </div>


        <br style="clear: both;" />

    <a href="#" id="close" class="btn btn-default">Close</a>
    <a href="#" class="btn btn-primary" id="btnView">View</a>


</form>

<p class="clear"></p>


@section Scripts {
    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
    @Scripts.Render("~/Scripts/jquery-1.9.1.js")

        @Scripts.Render("~/Scripts/Mine/Cowindex.js")

}