@model FarmManager.Models.AI

@{
    ViewBag.Title = "Details";
}

<h2 class="hTop">AI <span class="tagHighLight">@Html.DisplayFor(model => model.TagNo) (@Html.DisplayFor(model => model.Date))</span></h2>

    <p>
                    @Html.ActionLink("Back", "Index",null, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Edit", "Edit", new { id = Model.AIID }, new { @class = "btn btn-primary" })

    </p>
<div id="cowDetails">
    <div class="detailsBanner">
        <h3 class="detailsHead">Details</h3>
    </div>

    <div class="detailsBottom">

        <div class="inlineData">


            <label>Tag No</label>
            <p>@Html.DisplayFor(model => model.TagNo)</p>
        </div>

                <div class="inlineData">
            <label>Bull ID</label>
            <p>@Html.DisplayFor(model => model.BullID)</p>
        </div>

        <div class="inlineData">
            <label>Date</label>
            <p>@Html.DisplayFor(model => model.Date)</p>
        </div>

        <div class="inlineData">
            <label>AI Operator</label>
            <p>@Html.DisplayFor(model => model.AIOperator)</p>
        </div>

        <div class="inlineData">
            <label>Expected Due Date</label>
            <p>@Html.DisplayFor(model => model.ExpectedDueDate)</p>
        </div>



        <div class="inlineData">
            <label>Is Born</label>
            <p>@Model.Born</p>
        </div>



        <br style="clear: both;" />

    </div>
            </div>



