@model IEnumerable<FarmManager.Models.AI>

@{
    ViewBag.Title = "Index";
}

<h2>Artificial Insemination's</h2>


<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TagNo)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.BullID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AIOperator)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
 
        <td>
            @Html.ActionLink(item.TagNo, "Details", new { id=item.AIID })
        </td>

               <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.BullID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AIOperator)
        </td>

    </tr>
}

</table>
