@model FarmManager.ViewModels.HomeIndexVM

<h2>Farm Overview</h2>
    
        <div id="generalOverview">
        <div class="detailsBanner">
        <h3 class="detailsHead">General</h3>
    </div>
    
    <div class="detailsBottom topDetils">
    
    <label>
       Number of Cows currently owned
    </label>
        <p>@Html.DisplayFor(model => model.NoOwnedCows)</p>

            <label>
       Which were born on farm
    </label>
        <p>@Html.DisplayFor(model => model.OfWhichBorn)</p>


            <label>
       Which were purchased
    </label>
        <p>@Html.DisplayFor(model => model.OfWhichPurchased)</p>

<label>
        Most Comon Breed
    </label><br />
         <p>@Html.DisplayFor(model => model.MostCommonBreed)</p>

        </div>
      
</div>
    
<div id="treatOverview">
        <div class="detailsBanner">
        <h3 class="detailsHead">Treatments</h3>
    </div>
    
    <div class="detailsBottom topDetils">
    
    <label>
        No of Treatments
    </label>
        <p>@Html.DisplayFor(model => model.TotalTreatments)</p>

    <label>
        Prescribed by Vet
    </label>
        <p>@Html.DisplayFor(model => model.TotalPrescribedTreats)</p>
    

    <label>
        Recent Treatments
    </label><br />
    @foreach (var treat in Model.RecentTreatList)
    {
 @Html.ActionLink(treat.Text, "Details", new { controller = "Treatment",  id = treat.Value }, new { @class = "listItems" }) <br />
    }
        </div>
      
</div>



    
    

<div id="medicineOverview">
        <div class="detailsBanner">
        <h3 class="detailsHead">Medicines</h3>
    </div>
    
    <div class="detailsBottom topDetils">
    
    <label>
       Viable Medicines
    </label>
        <p>@Html.DisplayFor(model => model.TotalViableMedicines)</p>


<label>
        Recently Purchased Medicines
    </label><br />
    @foreach (var med in Model.RecentMedPurchases)
    {
 @Html.ActionLink(med.Text, "Details", new { controller = "Medicines",  id = med.Value }, new { @class = "listItems" }) <br />
    }
        </div>
      
</div>
    
    <br style="clear: both;" />

<div id="purchaseOverView">
        <div class="detailsBanner">
        <h3 class="detailsHead">Purchases This Year</h3>
    </div>
    
    <div class="detailsBottom">
        <div id="graphandDetails">
		<canvas id="canvas2" height="250" width="300"></canvas>
                

                    <div class="inlineData">
                        <div id="graphDetails">

        <label>No of Purchases</label>
        <p>@Html.DisplayFor(model => model.NoOfPurchases)</p>

                        <label>Total Cost</label>
        <p>€@Html.DisplayFor(model => model.SumPurchased)</p>

                            <label>Most Expensive</label>
@*                             <a id="purchLink" href="../Cows/Details/ + @Html.DisplayFor(model => model.MostValuablePurchased)>@Html.DisplayFor(model => model.MostValuablePurchased)</a>*@
                           @if(Model.MostValuablePurchased != "-")
                           {
                            @Html.ActionLink(Model.MostValuablePurchased, "Details", "Cows", new { id = Model.MostValuablePurchased }, null)
                           }
                            else
                            {
                               <p>-</p>
                           } 

                        <label>Latest Purchase</label>
                            @if(Model.LatestPurchased != "-")
                            {
                           @Html.ActionLink(Model.LatestPurchased, "Details", "Cows", new { id = Model.LatestPurchased }, null)
                            }
                            else
                            {
                                <p>-</p>             

                            }
                            </div>
                        </div>
                    </div>

            <div id="martData" class="collapse">
                <h4>Latest Mart Prices</h4>
        <table class="table table-striped">
        <tr>
        <th>
            <label>Breed</label>
        </th>
        <th>
            <label>Weight</label>
        </th>
        <th>
            <label>Price</label>
    </tr>
             @foreach (var data in ViewBag.PriceList)
     {
                 <tr>
         <td>@data.Breed</td>
         <td>@data.Weight kg</td>
         <td>@data.Price</td>
      </tr>
     }

            </table>
            </div>
                                    <input  class="btn btn-primary" id="openMart" type="button" value="Mart Prices" />

            <br style="clear: both;" />

      
</div>
    </div>
    
    
<div id="saleOverview">
        <div class="detailsBanner">
        <h3 class="detailsHead">Sales This Year</h3>
    </div>
    
    <div class="detailsBottom">
    		<canvas id="canvas" height="250" width="300"></canvas>
                

                    <div class="inlineData">
                        <div id="graphDetails">

                        <label>No of Sales</label>
        <p>@Html.DisplayFor(model => model.NoOfSales)</p>

                        <label>Total</label>
        <p>€@Html.DisplayFor(model => model.SumSales)</p>

                            <label>Biggest Sale</label>
                            @if(Model.HighestSales != "-")
                            {
                           @Html.ActionLink(Model.HighestSales, "Details", "Cows", new { id = Model.HighestSales }, null)
                            }
                            else
                            {
                                <p>-</p>
                            }
                             

                        <label>Latest Sale</label>
                            @if(Model.LatestSales != "-")
                            {
                           @Html.ActionLink(Model.LatestSales, "Details", "Cows", new { id = Model.LatestSales }, null)
                            }
                            else
                            {
                                <p>-</p>
                            }
                            </div>
                        </div>


            <br style="clear: both;" />

        </div>
      
</div>
    
    
    
    
    <div id="deathsOverview">
        <div class="detailsBanner">
        <h3 class="detailsHead">Deaths This Year</h3>
    </div>
    
    <div class="detailsBottom">

  <div class="inlineData">
      <label>Deaths This Year</label>
        <p>@Html.DisplayFor(model => model.TotalDeaths)</p>
      </div>

          <div class="inlineData">
      <label>Most Common Cause</label>
        <p>@Html.DisplayFor(model => model.MostCommonDeaths)</p>
      </div>

          <div class="inlineData">
      <label>Latest Death</label>
              @if(Model.LatestDeath != "-")
              {
      <p>@Html.ActionLink(Model.LatestDeath, "Details", "Cows", new { id = Model.LatestDeath }, null)</p>
              }
              else
              {
                  <p>-</p>
              }
      </div>

                    <br style="clear: both;" />

<div style="width:60%;">

        		<div id="pieDiv">
                <canvas id="canvas3" height="250" width="300"></canvas>

    		</div>

        <div id="legendDiv">
            <ul id="pieLegendList" style="font-size: 13px;">
                <li id="li1" style="color: #F38630">Disease</li>
                <li id="li2" style="color: #2CD123">Illness</li>
                <li id="li3" style="color: #69D2E7">Birth Defects/Premature</li>
                <li id="li4" style="color: #9E0900">Unknown</li>
                <li id="li5" style="color: #000FA7">Died Giving Birth</li>
                <li id="li6" style="color: #FED600">Accident</li>

            </ul>

        </div>


</div>                


            <br style="clear: both;" />

        </div>
      
</div>
    
    
    
    
    <div id="birthOverview">
        <div class="detailsBanner">
        <h3 class="detailsHead">Births This Year</h3>
    </div>
    
    <div class="detailsBottom">
      <div class="inlineData">
      <label>Birth This Year</label>
        <p>@Html.DisplayFor(model => model.BirthThisYear)</p>
      </div>

            <canvas id="canvas4" height="300" width="450"></canvas>

            <br style="clear: both;" />

        </div>
      
</div>
    
    
    
    

   
<br style="clear: both;" />